<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method='post'>
  <label for="val1">val1:</label><br>
  <input type="text" id="va11" name="val1" value="0"><br>
  <label for="Maths">val2:</label><br>
  <input type="text" id="val2" name="val2" value="0"><br><br>
  <label for="val3">val3:</label><br>
  <input type="text" id="val3" name="val3" value="0"><br><br>
  <label for="val4">val4:</label><br>
  <input type="text" id="val4" name="val4" value="0"><br><br>
  <label for="val5">val5:</label><br>
  <input type="text" id="val5" name="val5" value="0"><br><br>
  <input type="submit" value="Submit">
</form> 

<p>If you click the "Submit" button, the form-data will be sent to a page called "/submit".</p>

</body>
</html>